# Copy this file to .env and fill in values
# Place .env in the same folder as vipower-server.exe

PORT=3000
WS_PORT=8080

MONGODB_URI=mongodb://localhost:27017
DATABASE_NAME=vi_power

JWT_SECRET=change_this_to_a_long_random_secret

MQTT_HOST=mqtt://vilog.viwater.vn
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
TOPIC=

NODE_ENV=production
